
/captures
.externalNativeBuild
.cxx

# IntelliJ
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
classes
gen-external-apklibs

# Gradle
.gradle
jniLibs
build
local.properties
reports

# OS related
.DS_Store